<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

In [5]:
%%html 
<h1>Data Science Tools and Ecosystem</h1>
In this notebook, Data Science Tools and Ecosystem are summarized

In [8]:
%%html
Some of the popular languages that Data Scientists use are:
<p>1) Python</p>
<p>2) R</p>
<p>3) SQL</p>

In [9]:
%%html

<table border="1">
  <thead>
    <tr>
      <th>Data Science Tools</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Jupyter</td>
    </tr>
        <tr>
      <td>Rstudio</td>
    </tr>
        <tr>
      <td>Spyder</td>
    </tr>
  </tbody>
</table>

In [11]:
%%html
<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [12]:
#This a simple arithmetic expression to mutiply then add integers
print((3*4)+5)

17

In [14]:
#This will convert 200 minutes to hours by diving by 60
print("200minutes is equal to ", int(200/60), "hours and ", 200%60, "minutes")

200minutes is equal to  3 hours and  20 minutes

In [15]:
%%html
<b>Objectives:</b>
<body>
    <ul>
        <li>multiplyandaddintegers</li>
        <li>introarithmetic</li>
        <li>hourstominutes</li>
    </ul>
</body>

In [16]:
%%html
<h2>Author:</h2>
<p>Ehrin N</p>